<body class="w3-container fondo">
    <h1>Tu carrito de compras</h1>
    <section class="w3-col l8 s12">
        <li *ngFor="let product of products; index as i;"
            class="w3-ul w3-animate-left w3-round-xlarge w3-gray carrito-con-elemento" style="padding: 0.5em;">
            <h4 class=""><h2 style="display: inline;">{{i}}</h2> - {{product.name}}</h4>
            <span class="w3-white w3-round-xlarge" style="padding-inline: 0.5em;">{{product.details}}</span>
            <span (click)="removeProduct(product);" class="w3-button w3-xlarge w3-right ">&times;</span>
        </li>
    </section>
    <div class="w3-container w3-content" style="margin-top: 15px; margin-bottom: 15px;" *ngIf="compraExitosa">
      <div class="w3-card-4">
        <div class="w3-container w3-blue">
          <h3 class="w3-center" >COMPRA REALIZADA CON ÉXITO!</h3>
        </div>
      </div>
    </div>
    <aside class="w3-col l4 w3-dark-gray w3-padding w3-border w3-right">
        <div class="">
            <h1>Precio total</h1>
            <ol class="w3-padding">
                <li *ngFor="let product of products; index as i;">
                    {{product.name}} - ${{product.price}}
                </li>
            </ol>
        </div>
        <h3>Total: ${{total()}}</h3>

        <button class="w3-green" (click)="comprar()">Ir a pagar</button>
        <button class="w3-gray" (click)="clearCart()">Vaciar carrito</button>
    </aside>
</body>
