<header class="w3-container w3-teal">
  <h1>Crea tu cuenta</h1>
</header>

<div class="w3-container w3-half w3-margin-top">

  <form class="w3-container w3-card-4 ">

    <p>
      <input id="nombre" class="w3-input" type="text" style="width:90%" required>
      <label>Nombre</label></p>
    <p>
      <input id="contraseña" class="w3-input" type="password" style="width:90%" required>
      <label>Contraseña</label></p>
    <p>
      <input id="email" class="w3-input" type="email" style="width:90%" required>
      <label>Correo</label></p>
    <p>
      <input id="domicilio" class="w3-input" type="text" style="width:90%" required>
      <label>Domicilio</label></p>
    <p>
      <input id="fechaNacimiento" class="w3-input" type="date" style="width:90%" required>
      <label>Fecha de nacimiento</label></p>

    <p>
      <button class="w3-button w3-section w3-teal w3-ripple" (click)="registrarse()"> Crear cuenta </button></p>

  </form>

  <div class="w3-container w3-content" style="margin-top: 15px; margin-bottom: 15px; " *ngIf="verify">
    <div class="w3-card-4">
      <div class="w3-container w3-blue">
        <h1 class="w3-center">Verificación de Correo Electrónico</h1>
      </div>
      <div class="w3-container">
        <p class="w3-text-grey w3-center">Te hemos enviado un correo electrónico. Por favor, introduce el código de verificación:</p>
        <form class="w3-container">
          <label for="codigo">Código de Verificación:</label>
          <input id="codigo" class="w3-input" type="text" id="codigo" name="codigo" placeholder="Introduce el código aquí">
          <br>
          <div class="w3-center">
            <button class="w3-button w3-blue" type="submit" (click)="verifyCode()">Verificar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
