<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>

<div class="w3-container" style="background-color: #444444">
  <img src="./assets/logo.jpg" style="width: 250px">
</div>



<div class="w3-bar w3-black" routerLinkActive="active">
  <a class="w3-bar-item w3-button" routerLink="/home">Inicio</a>
  <a href="#" class="w3-bar-item w3-button">Productos</a>
  <a href="#" class="w3-bar-item w3-button">Contacto</a>
  <a class="w3-bar-item w3-button w3-right" routerLink="/login">Iniciar Sesión</a>
  </div>



</body>
</html>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
