/* You can add global styles to this file, and also import other style files */

@import url("https://www.w3schools.com/w3css/4/w3.css");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

body,
html {
  font-family: "Montserrat", sans-serif;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("https://www.w3schools.com/w3images/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.carrito-con-elemento {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px;
  align-items: center;
}